{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Reset Password</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Reset Password - EUIMSA">
    <meta name="author" content="EUIMSA">    
    
    <script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/portal.css' %}">

</head> 

<body class="app app-404-page">   	
    <div class="container mb-5">
	    <div class="row">
		    <div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
			    <div class="app-branding text-center mb-5">
		            <a class="app-logo" href="#"><img class="logo-icon me-2" src="{% static 'assets/images/app-logo.svg' %}" alt="logo"><span class="logo-text">EUIMSA</span></a>
		        </div>
			    <div class="app-card p-5 shadow-sm">
				    <h1 class="page-title mb-4 text-center"><span class="font-weight-light">Enter New Password</span></h1>
				    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="{{ form.new_password1.id_for_label }}" class="form-label">New Password</label>
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <div class="text-danger small">
                                    {{ form.new_password1.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirm New Password</label>
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <div class="text-danger small">
                                    {{ form.new_password2.errors }}
                                </div>
                            {% endif %}
                        </div>

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="text-center">
                            <button type="submit" class="btn app-btn-primary">Reset Password</button>
                        </div>
                    </form>
			    </div>
		    </div>
	    </div>
    </div>

    <footer class="app-footer"></footer>

    <script src="{% static 'assets/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>      
    <script src="{% static 'assets/plugins/chart.js/chart.min.js' %}"></script> 
    <script src="{% static 'assets/js/app.js' %}"></script> 
</body>
</html>
